#destination-bar {
    height: 15vh;
    background: rgb(22, 27, 102);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    color: whitesmoke;
  }

  #image{
    width: 400px;
    height: 300px;
  }

  #detailed-info{
    height: 550px;
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  #hotel{
    margin: 10px;
    display: block;
  }

  .itinerary{
    margin: 10px;
    display: block;
  }

  .like-it{
    margin: 5px;
  }

  .remove-hotel{
    margin: 5px;
  }