#destination-bar {
    height: 15vh;
    background: rgb(22, 27, 102);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    color: whitesmoke;
  }

  .bg {
    background-image: url("https://www.europebyrail.eu/site/assets/files/1640/karlsruhe-station.jpg");
    position: relative;
    
  }

 .bg::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .25;
  }  

  #image {
    width: 400px;
    height: 300px;
  }

  .destination{
    height: 550px;
    padding: 30px;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva;
    text-align: center;
  }

  .logo{
    height: 150px;
    align-content: left;
  }

  

  /* body:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('http://weknowyourdreams.com/images/cloud/cloud-11.jpg');
    opacity: 0.25
  }  */
